.allocation {
  height: calc(100vh - 130px);
  @include flex-column(0);
  display: none;
  transform: translateY(-50px);
  pointer-events: none;
  visibility: hidden;
  align-items: center;
  padding: 34px 0;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 48px;
  background-color: $white;
  transition: opacity 0.6s ease, visibility .6s, transform 0.6s ease;
  @media (max-width: 920px) {
    height: calc(100vh - 120px);
  }

  &.fade-in {
    display: flex;
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
  }

  &__info {
    @include flex-column(0);
    justify-content: center;
    margin-top: 34px;
    background-color: $accent;
    padding: 50px 30px;
    border-radius: 24px;
    min-height: 32vh;
    width: 100%;
    text-align: center;
    color: $white;
    margin-bottom: 35px;
  }

  &__slogan {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 34px;
    font-family: $ppNeue;
    font-weight: 500;
    line-height: 1;
  }

  &__currency {
    @include flex-align-center(13);
    justify-content: center;
    font-family: $ppNeue;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 14px;
  }

  &__digital {
    font-size: 70px;
  }

  &__value {
    margin-left: -4px;
    font-size: 52px;
  }

  &__address {
    span {
      color: rgba($white, .6);
    }
  }

  &__text {
    padding: 0 30px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &__btn {
    margin-top: auto;
  }
}